
.button {
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.header {
    height: 30px;
    width: 30px;
    padding: 10px;
    display: inline-block;
}

.cell {
    height: 30px;
    width: 30px;
    padding: 10px;
    border: 1px solid black;
}

.ship {
    background: gray;
}

.hit {
    background: red;
}

.empty {
    background: blue;
}

.unknown {
    background: gray;
}

.cell.active {
    border: 3px solid blue;
}

